html{
    height: 100%;
    overflow: hidden;
}

body{
    background-image: url("./images/mazeimage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    background-color: rgb(12, 66, 12);
    padding-top: 20px;
    padding-bottom: 20px; 
}

#maze {
    text-decoration: none;
    color: white;
}

#maze:hover {
    text-decoration:none;
    color: gray;
}
#again {
    text-decoration: none;
    color: white;
}


.gameHead{
    margin: -30px;
    padding-bottom: 20px; 
}

.logo {
    text-align: center; 
    margin: 0px 300px;
    padding-top: 0 px;
}

.button{
    text-align: center; 
    margin: 25px 50px;
    /* fon */
}

#start-game-button {
    border: 0;
    box-shadow: 0;
    background: linear-gradient(to bottom, #104621, #44DDBA);
    color: #fff;
    padding: 20px 40px;
    font-size: 30px;
    border-radius: 15px;
    margin-bottom: 10px;
}

#start-game-button a{
    text-decoration: none;
}

.intro {
    /* background-image: url("./images/mazeimage.jpeg"); */
    background-size: contain;
    background-repeat: no-repeat;

}

#clock {
    color: floralwhite;
    font-size: 20px;
    border: 2px solid rgb(251, 250, 250);
    border-radius: 15px;
    box-sizing: border-box;
    height: 68px;
    padding: 5px 0;
    width: 140px;
    text-align: center;
    background-color: rgb(29, 87, 22);
    position: fixed;
    bottom: 74%;
    left: 15%;
}
.modal {
    text-align: center;
    position: fixed;
    /* bottom: 50%; */
    /* z-index: 1; */
    top: 35%;
    left: 0%;
}
